/* import fonts */
@import url('https://stockfont.org/?0fff4e3f1cbbb595f36beb87b2d912152e1803a60023d9aeb53188fe2f5b2218');

* {margin: 0; padding: 0;}

html {font-family: 'Oxygen-Regular', verdana, sans-serif; }

body {background-color: rgb(20 20 20);
background-image: url('images/cheese.jpg');
background-size: cover;}
header {background-color: black; color: white;

height: 175px;

}

header img {width: 8vw; float: left; border-radius: 20px; margin-top: 20px;}
header aside {float: right; margin-top: 15px;}
header section {width: 1000px; display: block; margin:0px;}
header h1 {float: left; margin-left: 20px;}
nav {width: 80%; overflow: auto;}
body > img {width: 100%; display: block;}
nav ul {width: 1000px; margin: auto; display: block; list-style-type: none;}
<<<<<<< HEAD
nav ul li {width: 18%; float: left; overflow: auto; text-align: center;}
nav a {color: rgb(3, 3, 3); padding-top: 10px; display: block;}
=======
nav ul li {width: 14%; float: left; overflow: auto; text-align: center;}
nav a {color: rgb(255, 255, 255); padding-top: 5vh; display: block;}
>>>>>>> 4b304b1a263a35b8ccaa11e3ffa9c4c80327a117



nav {font-family: 'Anton';}
header section {  display: block; font-family: 'Anton', sans-serif;}

header h1 {font-weight: normal;}


h1 { font-size:4em; color: white; text-align: center; padding-top: 20px; text-shadow: 2px 2px 2px #000;}

main {min-height: 75vh; background: #555; width: 70vw; display: block; margin: auto; box-shadow: 0px 0px 10px #888; color:rgb(255, 252, 46);}
footer {min-height: 5vh;}

main h2 {font-size:2em;}
.home {padding: 5vw; width: 60vw;}

p, li, h2 {margin-bottom: 1em;}
ol {margin-left: 30px;}

pre {margin-top: 20px;}
code {background-color: #ccc;}
pre code {display: block;}

footer {background-color: rgb(92, 92, 92); padding: 10px; color: white;}

form select, form label, form input, form textarea {float: left; width: 50px; padding: 10px; margin-top: 20px;}
form label {clear: left;}
textarea {height: 100px;}
form input[type="text"], form input[type="password"], textarea {color: #999; font-family: verdana, sans-serif}
input[type="submit"] { margin-left: 220px; width: 50px;}


.left ul {list-style-type: none }
section a {color: #444;}

form select {width: 220px;}
table {width: 100%; margin-top: 20px;}
td {padding: 5px; border-bottom: 1px solid #333;}

.jobs {list-style-type: none}
.jobs strong {width: 150px; float:  left; clear: left;}
.jobs p {width: 500px; float: left;}

.jobs li {padding-top: 20px; padding-bottom: 20px; border-bottom: 2px solid #aaa; overflow: auto}
.jobs a {float: right; clear: both;}

img.shop {width: 800px;}

.stock, .admin {display: table;}
.stock > ul, .admin .left { width: 10vw; list-style-type: none; display: table-cell; padding: 10px; background-color: #555; margin: 0;}

.stock .products, .admin .right {display: table-cell; padding: 20px;}

.stock > ul a, .admin .left a {color: white; text-decoration: none;}

table td input[type="submit"] {margin: 0; float: right; width: auto; padding: auto;}

.cars ul {margin-top: 40px; list-style-type: none;}
.cars li {border-top: 2px solid #888; padding: 20px; overflow: auto;}

.cars li .noimage, .cars li img {width: 20%; margin-right: 4%; min-height: 50px; float: left;}
.cars .info {float: left; width: 75%;}

.current {background-color: #ddd; color: #333; display: block;}
.stock > ul .current a {color: #333;}
.categories li {margin: 0; padding: 0.5em; font-size: 2em;}

.products > img {max-height: 300px;}

a:hover {color: #ffe819 !important;}

.right {padding: 20px;}

main h1 {color: rgb(214, 164, 0);}

main img {display: block;}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }






  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(150px, auto);
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
} /* sets the properties for the grid including the columns on the portfolio page*/

.grid-inner{
    width: 273px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: auto; 
    z-index: 1;
    transform: translate(0);
    
} /* sets the sizing of the images which will be on the grid */

.description{
    position: relative;
    text-align: center;
    color: black;
}/* sets the sizing of the descriptions on the portfolio page */

.central{
    transition: .5s ease;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
 }/* used to center the description in the middle of the image */